<nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'material']">
              <i class="fas fa-flask"></i>
              Реактивы <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'product']">
              <i class="fas fa-cubes"></i>
              Продукция
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'composition']">
              <i class="fas fa-receipt"></i>
              Рецепты
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'formula']">
              <i class="far fa-list-alt"></i>
              Варианты составов
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'complex_comps']">
              <i class="fas fa-fill-drip"></i>
              Технологические композиции
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'storage']">
              <i class="fas fa-archive"></i>
              Хранилища
            </a>
          </li>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-4 text-muted">
            <span>Фасовка</span>
          </h6>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'props']">
              <i class="fas fa-box"></i>
              Тара
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'props']">
              <i class="fas fa-box"></i>
              Укупорка
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'props']">
              <i class="fas fa-box"></i>
              Упаковка
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'props']">
              <i class="fas fa-box"></i>
              Этикетка
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-4 text-muted">
          <span>Свойства</span>
        </h6>
        <ul class="nav flex-column mb-2">

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'props']">
              <i class="fas fa-list-ul"></i>
              Все характеристики
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'props']">
              <i class="fas fa-list"></i>
              Характеристики рецептов
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/system', 'props']">
              <i class="fas fa-list"></i>
              Видовые свойства
            </a>
          </li>
        </ul>
      </div>
    </nav>
