

    <div class="modal-header">
      <h5 class="modal-title" id="addItemLabel">Добавление реактива</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="modal-body">
      <h6>Артикул</h6>
      <input type="text" class="form-control form-control-sm" ngModel name="code" #code="ngModel" required/>
      <h6>Химическое наименование</h6>
      <input type="text" class="form-control form-control-sm" name="name" ngModel required/>
      <h6>Марка</h6>
      <input type="text" class="form-control form-control-sm" name="mark" ngModel/>
      <h6>Префикс</h6>
      <select class="form-control form-control-sm" name="prefix" id="select-prefix" ngModel>
        <option value="0">ПАВ</option>
        <option value="1">-</option>
      </select>
      <h6>Ед. измерения</h6>
      <select class="form-control form-control-sm" name="unit" id="select-unit" ngModel>
        <option value="0">Кг</option>
        <option value="1">Шт</option>
      </select>
      <h6>Группа</h6>
      <select class="form-control form-control-sm" name="group" ngModel>
        <option *ngFor="let g of groups" value="{{ g.pk }}">{{ g.name }}</option>
      </select>
      <h6>Концентрация, %</h6>
      <input type="number" min="0" max="100" class="form-control form-control-sm" name="concentration" ngModel required/>
    </div>
    <button type="submit" class="btn btn-save" (click)="modal.close('Save click')">Сохранить</button>
    </form>
